<div class="logModal" data-reveal=" ">
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <%= form_tag sessions_path  do %>
      <%# probably want some labels here %>
      <%# label_for :email, "Email", class: 'foundation-zazzum-whatever' %>
      Email: <%= text_field_tag(:email) %>
      Password: <%= password_field_tag(:password) %>
      <%= submit_tag "Sign In", :class=>"button postfix" %>
      <% end %>
    </div>
  </div>
<a class="closing close-reveal-modal">×</a>
</div>
