<!DOCTYPE html>
<html lang="en">
<head>
	<title>WeJam</title>
	<link rel="stylesheet" src="./stylesheets/weJam.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
</head>
<body>
	<div class="container">
		<div id="map-canvas">
		</div>
		<div class="sidebar">
		</div>
		<div class="edit_profile">
      <% if viewing_my_own_profile %>
    		<%= link_to 'Edit Your Profile', edit_musician_path(viewing_my_own_profile), method: :get %>
      <% end %>
		</div>
	</div>
</body>
</html> 