<!DOCTYPE html>
<html lang="en">
		<head>
			<title>WeJam</title>
			<link rel="stylesheet" href="./stylesheets/weJam.css">
			<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	    <script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?sensor=false">
	    </script>
	    
		</head>
		<body>
			<div id="map-canvas">
					TESTING
			</div>
		</body>
</html> 