<div class="contain-to-grid sticky">
	<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<div id="logo">WeJam</div>
	</nav>
</div>
<div>
<div class="container body-img">
   <div id="we-jam-welcome-phrase" class="small-offset-5 columns small-4 columns phrase-margin">
     Stop Playing With Yourself.
   </div>
    <div class="row center">
      <div class="small-offset-5 columns small-4 columns button-margin">
        <div class="button">
          <%= link_to "Sign up ", new_musician_path, class: "sign_up white-button" %>
        </div>
        <div class="button">
         <%= link_to "Log In", sessions_new_path, class: "log_in white-button" %>
       </div>
     </div>	
   </div>
 </div>
</div> 