<% content_for :title do %>
  WeJam
<% end %>

<div class="contain-to-grid sticky">
	<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<div id="logo">WeJam</div>
	</nav>
</div>
<div class="container body-img">
  <div class="row">
  <div id="we-jam-welcome-slogan" class="small-4 columns end phrase-margin">
     Stop Playing With Yourself.
   </div>
 </div>
 <div class="row center">
  <div class="small-4 columns button-margin">
    <div class="button">
      <%= link_to "Sign up ", "#", class: "sign_up white-button", data: { 'reveal-id' => 'newModal'} %>
      <div id="newModal" class="reveal-modal">
        <%= render 'musicians/new' %>
      </div>
    </div>
    <div class="button">
     <%= link_to "Log In", "#", class: "log_in white-button", data: { 'reveal-id' => 'logModal'} %>
     <div id="logModal" class="reveal-modal">
        <%= render '/sessions/new' %>
      </div>
   </div>
 </div>	
</div>
</div>
