#map-canvas{
	height: 100%;
}

#map-canvas img {
  max-width: none;
}

.sidebar {
	float: left;
	top: 0;
	position: absolute;
	width: 25%;
	background-color: #FFF;
	height: 100%;
	text-align: center;
	opacity: 0.9;
	word-wrap: break-word;
	font-family: 'OpenSans-CondLight';
	font-size: 1em;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}

.edit_profile{
	top: -30%;
	margin-left: 10%;
	z-index: 5;
	font-weight: 100;
  margin-bottom: 30px
}

.sidebar p {
	font-size: 1.3rem;
}