@font-face {
  font-family: 'OpenSans-CondLight';
  src: font-url('OpenSans-CondLight.ttf');
}


#logo {
	color: #FFF;
  font-size: 1.5em;
  padding-left: 1em;
  font-family: 'OpenSans-CondLight';

}

#we-jam-welcome-slogan {
  font-family: 'Plain_Black_Wide';
  font-size: 3em;
  text-align: center;
  margin-top: 4em;
  color: #FFF;
  text-shadow: 2px 2px #000;
}
.white-button {
  color: #FFF;
}

.white-button:hover{
  color:  #FFF;
}

.body-img {
  background-image: url('welcome_jam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  text-align: center;
}

.button-margin {
  margin-top: 3em;
}

.container{
  height: 100%;
}

#gravatar{
  margin-top: 30px;
  border: 2px solid;
  border-radius: 50%;
}

